$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$fontcolor: #7a7b91;
$inputbackground: rgba(122, 123, 145, 0.08);
$hoverinputColor: rgba(122, 123, 145, 0.14);
$fontblue: #4780fc;
$lightblue: rgba(71, 128, 252, 0.06);
$lightgray:#b8b9c7;
$lightred: #fff4f7;
$normalred: #f93b6e;
$starhover: #ececef;
$bgcolor: #130a2f;

//sidebar
$menuBg:#312755;
$subMenuBg:#312755;
$menuHover:#001528;
